
<div class="container" id="single"> 

  <hr class="soften">
  <section id="page">
    <div class="row">
      
      <div class="span3">
	<h2>Built for and by nerds</h2>
	<p>Like you, we love building awesome products on the web. We love it so much, we decided to help people just like us do it easier, better, and faster. Bootstrap is built for you.</p>
      </div>
      <div class="span9">
	<h2>Page content</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in dolor sed purus ultrices consectetur nec vel nibh. Proin sit amet malesuada dolor. Sed tortor odio, aliquam vitae iaculis quis, convallis sed urna. Ut convallis accumsan eros quis hendrerit. Vestibulum sed dolor sapien, sit amet iaculis ipsum. Suspendisse potenti. Ut velit velit, dignissim in vulputate nec, cursus sed urna. Maecenas dolor diam, posuere eu iaculis eget, consectetur eget dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a risus id ipsum porttitor blandit. Ut ac metus justo.</p>

	<p>Nunc viverra sodales interdum. In hac habitasse platea dictumst. Aenean eu nibh mi. Aliquam sit amet neque non magna feugiat tincidunt eu sit amet est. Cras leo magna, lobortis id lobortis a, blandit vel libero. Morbi libero magna, imperdiet ut rhoncus quis, vulputate eget tortor. Quisque sollicitudin lacus erat. Nunc feugiat, diam vitae sodales fermentum, arcu ligula sagittis elit, ut dictum risus risus et justo. Curabitur nec orci nunc, id dignissim libero. Fusce varius dictum dui sit amet imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

	<p>Sed vehicula massa cursus metus auctor lobortis. Cras arcu diam, adipiscing pulvinar interdum sit amet, ultricies luctus est. Nullam non ligula dolor, in consectetur velit. Sed nec est sed ipsum laoreet lacinia nec quis leo. Morbi eu nisi at ligula convallis faucibus in non est. In eget elit elit, nec ultricies urna. Maecenas scelerisque, tortor sit amet eleifend volutpat, sapien augue aliquam libero, eu congue eros mauris sit amet turpis. Duis eget nibh vitae mi dictum aliquam sit amet eu ante. Vivamus sodales varius sagittis. Morbi et nisi in turpis pharetra egestas et at arcu. Phasellus fringilla, justo et lobortis pretium, arcu tortor vulputate nisi, eu laoreet nibh eros ut lorem. In hac habitasse platea dictumst. Vivamus adipiscing lorem sodales purus adipiscing id dapibus nisl malesuada. Aliquam imperdiet posuere sem a hendrerit. Vestibulum vel felis risus, condimentum vestibulum mauris. Donec molestie interdum tristique.</p>
      </div>
    </div>
  </section>
  
  <hr class="space">
</div>
