<!-- Main hero unit for a primary marketing message or call to action -->

<div class="container"> 

  <div class="hero-unit frontpage">
    <h1>CSS Time</h1>
    <p>This is a bootstrap template for a simple news or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <a href="http://wbpreview.com/previews/WB006843O/pricing.html" class="btn btn-primary btn-large">View Pricing page &raquo;</a> <a href="http://wbpreview.com/previews/WB006843O/landing.html" class="btn btn-primary btn-large">Landing page &raquo;</a>
  </div>
  <hr class="soften">


  <section id="homepage">
    <div class="row">
      <div class="span4">
	<h2>Built for and by nerds</h2>
	<p>Like you, we love building awesome products on the web. We love it so much, we decided to help people just like us do it easier, better, and faster. Bootstrap is built for you.</p>
      </div>
      <div class="span4">
	<h2>For all skill levels</h2>
	<p>Bootstrap is designed to help people of all skill level—designer or developer, huge nerd or early beginner. Use it as a complete kit or use to start something more complex.</p>
      </div>
      <div class="span4">
	<h2>Cross-everything</h2>
	<p>Originally built with only modern browsers in mind, Bootstrap has evolved to include support for all major browsers (even IE7!) and, with Bootstrap 2, tablets and smartphones, too.</p>
      </div>
    </div>
  </section>
  <hr class="space">
</div>
